body {
    --myTeal: #31A3BD;
    --myDarkTeal: #0289A9;
    --brown1: #F3C69F;
    --brown2: #DA8C4E;
    --brown3: #C16F3F;
    --brown4: #94492E;
    --roundedCorners: 10px;
  }
  
  #start-button {
    font-size: 30px;
    padding: 0.5em;
    border-radius: var(--roundedCorners);
  }
  
  .letterBtn {
    font-size: 30px;
    padding: 2em 2.5em;
    margin: 1em;
    background-color: var(--brown2);
    border-radius: var(--roundedCorners);
  }
  
  .letterBtn:hover {
    background-color: var(--brown1)
  }
  
  .fillInTheBlank {
    font-size: 48px;
  }
  
  #_App {
    padding: 10em;
    text-align: center;
  }
  
  
  #finishDialog {
    background-color: var(--brown4);
    color: white;
    position: absolute;
    width: 60vw;
    height: 70vh;
    border-radius: var(--roundedCorners);
    font-size: 2.5rem;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #finishDialogText {
    padding: 0 20vw 0 20vw;
  }
  
  #finishBtn {
    padding: 1em;
    border-radius: var(--roundedCorners);
  }